/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Zeljka's mixins */
/* line 9, ../sass/screen.scss */
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background: #930065 url(../images/landscape-blurred.jpg) no-repeat center center fixed;
}
/* line 16, ../sass/screen.scss */
body .profile-card {
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -o-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-transition: 0.3s, ease-in-out;
  transition: 0.3s, ease-in-out;
  margin: 50px auto 0 auto;
  padding: 10px;
  width: 300px;
  height: 500px;
  background: #FFFFFF;
}
/* line 25, ../sass/screen.scss */
body .profile-card:hover {
  -webkit-box-shadow: 1px 5px 50px 30px rgba(253, 1, 222, 0.3);
  -moz-box-shadow: 1px 5px 50px 30px rgba(253, 1, 222, 0.3);
  box-shadow: 1px 5px 50px 30px rgba(253, 1, 222, 0.3);
  margin-top: 40px;
}
/* line 30, ../sass/screen.scss */
body .profile-card .profile-image {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  width: 300px;
  overflow: hidden;
}
/* line 36, ../sass/screen.scss */
body .profile-card .profile-photo {
  display: block;
  margin: -60px auto 0 auto;
  width: 100px;
  height: 100px;
  border: #FFFFFF 3px solid;
  border-radius: 50%;
  overflow: hidden;
}
/* line 48, ../sass/screen.scss */
body .profile-card .profile-content h3 {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -110px;
  padding: 40px 20px 0px 20px;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  color: #fd01de;
}
/* line 59, ../sass/screen.scss */
body .profile-card .profile-content p {
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: #9601eb;
}
/* line 68, ../sass/screen.scss */
body .profile-card .profile-content .profile-links {
  display: block;
  margin: 20px auto 0 auto;
}
/* line 72, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa {
  color: #fd01de;
}
/* line 76, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-cube {
  -webkit-transition: 0.3s, ease-in-out;
  transition: 0.3s, ease-in-out;
  margin-left: 18%;
}
/* line 80, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-cube:hover {
  color: #C900C5;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
/* line 88, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-paper-plane-o {
  -webkit-transition: 0.3s, ease-in-out;
  transition: 0.3s, ease-in-out;
  margin-left: 18%;
}
/* line 92, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-paper-plane-o:hover {
  color: #C900C5;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
/* line 100, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-scissors {
  -webkit-transition: 0.3s, ease-in-out;
  transition: 0.3s, ease-in-out;
  margin-left: 20%;
}
/* line 104, ../sass/screen.scss */
body .profile-card .profile-content .profile-links .fa-scissors:hover {
  color: #C900C5;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
