/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "mixins";

body {
	@include background-size(cover);
	margin: 0 auto;
	padding: 0;
	height: 100%;
	background: #930065 url(../images/landscape-blurred.jpg) no-repeat center center fixed; 
	
	.profile-card {
		@include rounded-corners(20px, 20px, 20px, 20px);
		@include transition(.3s, ease-in-out);
		margin:50px auto 0 auto;
		padding: 10px;
		width: 300px;
		height: 500px;
		background: #FFFFFF;
		
		&:hover {
			@include box-shadow(1px, 5px, 50px, 30px, rgba(253, 1, 222, 0.3));
			margin-top:40px;
			}
		
		.profile-image {
			@include rounded-corners(20px, 20px, 0, 0);
			width: 300px;
			overflow:hidden;
		}
		
		.profile-photo {
			display: block;
			margin: -60px auto 0 auto;
			width: 100px;
			height: 100px; 
			border: #FFFFFF 3px solid;
		    border-radius: 50%;
			overflow:hidden;
		}
		
		.profile-content {
			
			h3 {
				display: block;
				position: relative;
				left: 50%;
				margin-left: -110px; 
				padding: 40px 20px 0px 20px;
				font-family: 'Pacifico', cursive;
				font-size: 26px;
				color: #fd01de;
			}
			
			p {
				padding: 20px;
				font-family: 'Karla', sans-serif;
				font-size: 16px;
				text-align: center;
				line-height: 20px;
				color: #9601eb;
			}
			
			.profile-links {
				display: block;
				margin: 20px auto 0 auto; 
				
				.fa {
					color: #fd01de;
				}
				
				.fa-cube {
					@include transition(.3s, ease-in-out);
					margin-left: 18%;
					
					&:hover {
						color: #C900C5;
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						cursor:pointer;
					}
				}
				
				.fa-paper-plane-o {
					@include transition(.3s, ease-in-out);
					margin-left: 18%;
					
					&:hover {
						color: #C900C5;
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						cursor:pointer;
					}
				}
				
				.fa-scissors {
					@include transition(.3s, ease-in-out);
					margin-left: 20%;
					
					&:hover {
						color: #C900C5;
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						cursor:pointer;
					}
				}
			}
			
	
		}
	}
}