/* Calendar variables */
$font-stack:    'Oxygen', sans-serif;
$font-base-color: #333;
$gradient-image: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAABOklEQVQYVwXBTSjDcRzA4c9vG2pLyluhdjKNKDmghEQ7zJrSzHKQQpRNW0KivI2b03JS4qq8lyOJopyWQnmJEC1tNS/Jn//X86iG6Wqp6d+hLPeGxrtesjIu0DcEiYExG878oFozzFK7dM7naYA+xyVZjkf0BzNcJTG+wfUQKJ+9WuomtvkK2hlsT2AaA4kXIsUFGM6PeQj8odyOHilqH8YSKGHSryP9oJaFP1c+pqpS7hcPUN7uFcnJy6Uo7CQwpZAOQU5Amsox5nfxGo+iBiJRed/fo21zjObZFMSnoUkDmi2M5WOexNMLanrrU25DPmZiu1hHU6BVI/ntQ1V0kn7r5GcBVGTtQ369NoKZL+h+A8qto91Y0VsqSbtbR0aNqJHxQ/HM1VOSCmkhhcEjEM1BuezI8xGyauAfdjB9lC+n/WcAAAAASUVORK5CYII=";

